p {
  color: rgb(226, 205, 43);
}
#second-p {
  color: rgb(182, 26, 26);
  border: 20px solid darkcyan;
}
.paragraph {
  color: chartreuse;
  font-size: larger;
  font-style: italic;
}

.red {
  color: brown;
  font-size: x-large;
  font-style: initial;
  letter-spacing: 30px;
}
.wrapper p {
  color: darkgreen;
  font-weight: bolder;
}

.margin {
  color: rgb(100, 0, 43);
  margin: 20px 20px 20px 30px;
  font-size: large;
  padding: 30px 30px;
  text-decoration: underline;
}

.display {
  color: rgb(0, 18, 100);
  display: inline-block;
  width: 20px;
  height: 25px;
  visibility: hidden;
}

.position {
  color: rgb(78, 100, 0);
  position: absolute;
  top: 20px;
  position: fixed;
}

.transform:hover {
  color: rgb(0, 50, 100);
  transform: translate(100px) rotate(30deg);
  transition: 5s;
}

.body {background-image: url(https://zastavok.net/main/animals/163638771244.jpg);}