@font-face {
	font-family: IBMPlexSans;
	src: url(../fonts/IBMPlexSans-SemiBold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexSans;
	src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexSans;
	src: url(../fonts/IBMPlexSans-Thin.ttf) format("truetype");
	font-weight: 100;
	font-style: normal;
}
html {
	font-size: 20px;
}
body {
	font-family: "IBMPlexSans", sans-serif;
}
.container {
	margin: 0px auto; padding: 0px 0.75rem; max-width: 43.5rem;
}
.container_small {
	max-width: 39.9rem;
}
.container_wide {
	max-width: 52.5rem;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.header {
	color: rgb(163, 204, 64); font-size: 2.4rem; font-weight: 500;
}
.simple-text {
	line-height: 1.4; font-size: 0.55rem;
}
.button1 {
	background: rgb(144, 210, 61); padding: 0.4rem 1.7rem; border-radius: 0.3rem; border: 1px solid rgb(144, 210, 61); transition:0.2s; border-image: none; color: rgb(255, 255, 255); font-size: 0.7rem; display: inline-block; cursor: pointer;
}
.button1:hover {
	background: rgb(255, 255, 255); border: 1px solid rgba(163, 204, 64, 0.62); border-image: none; color: rgb(144, 210, 61); box-shadow: 0px 2px 0.45rem rgba(144,210,61,0.3);
}
.button1_big {
	padding: 0.75rem; width: 100%; font-size: 1rem;
}
.block01 {
	background: url("../img/top_bg.png") no-repeat top / cover; overflow: hidden; position: relative; min-height: 100vh;
}
.block01__row {
	margin: 0px -0.75rem;
}
.block01__col1 {
	padding: 0px 0.75rem; float: left; min-height: 1px;
}
.block01__col2 {
	padding: 0px 0.75rem; float: left; min-height: 1px;
}
.block01__tel {
	color: rgb(255, 255, 255); line-height: 2.4; font-size: 0.6rem; font-weight: 500; vertical-align: top; display: inline-block;
}
.block01__mail {
	color: rgb(255, 255, 255); line-height: 2.4; font-size: 0.6rem; font-weight: 500; vertical-align: top; display: inline-block;
}
.block01__address {
	color: rgb(255, 255, 255); line-height: 2.4; font-size: 0.6rem; font-weight: 500; vertical-align: top; display: inline-block;
}
.block01__tel {
	transition:0.2s;
}
.block01__mail {
	transition:0.2s; text-decoration: underline; margin-left: 2.5rem;
}
.block01__address {
	color: rgb(255, 255, 255); font-size: 0.6rem; font-weight: 500; margin-left: 2.5rem;
}
.block01__header {
	padding: 2rem 0px 0px;
}
.block01__tel:hover {
	color: rgb(163, 204, 64);
}
.block01__mail:hover {
	color: rgb(163, 204, 64);
}
.block01__call {
	background: rgb(255, 255, 255); padding: 0.2rem 0.5rem; border-radius: 0.5rem; border: 2px solid rgb(255, 255, 255); transition:0.2s; border-image: none; line-height: 1; margin-left: 2.5rem; display: inline-block;
}
.block01__call svg {
	transition:0.2s; margin-right: 0.3rem; float: left; fill: #333333;
}
.block01__call span {
	transition:0.2s; color: rgb(51, 51, 51); font-size: 0.6rem; float: left;
}
.block01__call:hover {
	background: rgb(163, 204, 64);
}
.block01__call:hover span {
	color: rgb(255, 255, 255);
}
.block01__call:hover svg {
	fill: #ffffff;
}
.block01::after {
	left: 0px; height: 0px; bottom: 0px; border-bottom-color: rgb(255, 255, 255); border-left-color: transparent; border-bottom-width: 6.5rem; border-left-width: 100vw; border-bottom-style: solid; border-left-style: solid; position: absolute; content: "";
}
.block01__lng-wrap {
	float: right; position: relative;
}
.block01__lng {
	line-height: 2.4;
}
.block01__dropdown {
	background: rgba(0, 0, 0, 0.3); bottom: 0px; position: absolute; transform: translateY(100%);
}
.block01__dropdown a {
	padding: 0.25rem 0.75rem; transition:0.2s; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 0.75rem; display: block;
}
.block01__dropdown a:hover {
	color: rgb(163, 204, 64);
}
.block01__lng span {
	transition:0.2s; color: rgb(255, 255, 255); font-size: 0.6rem; font-weight: 500; margin-right: 0.35rem; float: left;
}
.block01__lng svg {
	transition:0.2s; margin-top: 0.6rem; float: left; fill: #fff;
}
.block01__lng:hover span {
	color: rgb(163, 204, 64);
}
.block01__lng:hover svg {
	fill: #a3cc40;
}
.block01__col1 {
	width: 21%; padding-top: 0.75rem;
}
.block01__col2 {
	width: 79%;
}
.block01__nav {
	padding: 0.25rem 0px 0px;
}
.block01__nav li {
	display: inline-block;
}
.block01__nav li + li {
	margin-left: 3.5rem;
}
.block01__nav a {
	transition:0.2s; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 0.6rem; font-weight: 500; display: block;
}
.block01__nav a:hover {
	color: rgb(144, 210, 61);
}
.block01__col5 {
	width: 83.33%;
}
.block01__main {
	padding: 10rem 0px 12.5rem;
}
.block01__h1 {
	margin: 0px 0px 2.5rem; color: rgb(255, 255, 255); line-height: 1em; font-size: 4rem; font-weight: 100;
}
.block01__h2 {
	color: rgb(255, 255, 255); line-height: 1em; font-size: 2.5rem; font-weight: 400;
}
.block02 {
	padding: 4rem 0px 1.5rem;
}
.block02__info {
	background: rgb(255, 255, 255); padding: 1.5rem 2rem; border-radius: 0.5rem; top: -10rem; width: 50%; right: 0px; position: absolute; box-shadow: 0px 1.35rem 1.95rem rgba(163,204,64,0.18);
}
.block02__inner {
	position: relative;
}
.block02__text1 {
	margin: 0px 0px 1.25rem; font-size: 1.65rem; font-weight: 600;
}
.block02__text2 {
	margin: 0px 0px 0.75rem;
}
.block02__header {
	margin: 0px 0px 4rem;
}
.block02__pluses {
	margin: 0px -1.5rem; display: flex; flex-wrap: wrap;
}
.block02__plus {
	padding: 0px 1.5rem 2.5rem; flex:0 0 33.33%;
}
.block02__image-wrap img {
	margin: 0px auto; display: block;
}
.block02__image-wrap {
	margin: 0px 0px 1.75rem;
}
.block02__text3 {
	margin: 0px 0px 1.25rem; color: rgb(51, 51, 51); font-size: 1rem; font-weight: 600;
}

.to_top {
	background: rgba(0, 0, 0, 0.5); padding: 0.75rem; border-radius: 100%; right: 2.5rem; bottom: 2.5rem; display: none; position: fixed; cursor: pointer;
}
.to_top svg {
	width: 1.5rem; height: 1.5rem; display: block; fill: #fff;
}
.st-input1 {
	background: rgb(222, 222, 222); border-radius: 0.25rem; transition:0.2s; margin-bottom: 1.5rem; position: relative;
}
textarea.st-input1__input {
	height: 5rem; resize: none;
}
.st-input1__label {
	transition:0.2s; left: 0.75rem; top: 0.6rem; color: rgb(161, 161, 161); font-size: 0.75rem; position: absolute; z-index: 0;
}
.st-input1:hover {
	background: rgb(255, 255, 255); box-shadow: 0px 0px 0px 0.25rem rgba(170,243,77,0.52);
}
.st-input1_focused {
	background: rgb(255, 255, 255); box-shadow: 0px 0px 0px 0.25rem rgba(170,243,77,0.52);
}
.st-input1_focused .st-input1__label {
	background: rgb(255, 255, 255); padding: 0px 0.25rem; left: 0.5rem; top: -0.5rem; color: rgb(51, 51, 51);
}
.st-input1__input {
	background: none; padding: 0.6rem 0.75rem; border-radius: 0.25rem; border: 0px currentColor; border-image: none; width: 100%; color: rgb(51, 51, 51); font-size: 0.75rem; display: block; position: relative; z-index: 1;
}
.st-input1_error {
	box-shadow: 0px 0px 0px 0.25rem rgba(220,60,16,0.5);
}
.st-input1__error-msg {
	left: 0.75rem; bottom: 0.1rem; color: rgb(220, 60, 16); font-size: 0.55rem; position: absolute;
}
.input-select {
	background: url("../img/down-arrow.svg") no-repeat 96% / 5% rgb(222, 222, 222); padding: 0.6rem 0.75rem; border-radius: 0.25rem; border: 0px currentColor; transition:0.2s; border-image: none; width: 100%; color: rgb(161, 161, 161); font-size: 0.75rem; margin-bottom: 1.5rem; -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
.st-checkbox input {
	display: none;
}
.st-checkbox {
	color: rgb(51, 51, 51); font-size: 0.5rem; margin-bottom: 1.5rem; display: flex; cursor: pointer; align-items: center;
}
.st-checkbox__dot {
	border-radius: 0.2rem; border: 1px solid rgb(170, 243, 77); flex:0 0 auto; border-image: none; width: 0.8rem; height: 0.8rem; margin-right: 0.3rem;
}
.st-checkbox input:checked + .st-checkbox__dot {
	background: url("../img/ico_check.svg") no-repeat center / 0.4rem 0.3rem, rgb(170, 243, 77);
}
.block09 img {
	margin: 0px auto; display: block;
}
.footer {
	background: rgb(163, 204, 64); padding: 4rem 0px 1.5rem;
}
.footer__inner {
	margin-bottom: 2rem; display: flex;
}
.footer__col1 {
	flex:0 0 50%;
}
.footer__svg {
	margin-bottom: 1rem; display: block;
}
.footer__txt1 {
	color: rgb(255, 255, 255); line-height: 1.3; font-size: 0.7rem; margin-bottom: 1.5rem; max-width: 13.5rem;
}
.footer__socials {
	display: flex;
}
.footer__socials a {
	background: rgb(190, 233, 86); border-radius: 100%; width: 1.55rem; height: 1.55rem; display: flex; justify-content: center; align-items: center;
}
.footer__socials a + a {
	margin-left: 1.55rem;
}
.footer__col2 {
	flex:0 0 25%;
}
.footer__title {
	color: rgb(255, 255, 255); line-height: 1.3; font-size: 1rem; font-weight: 700; margin-bottom: 1rem;
}
.footer__ul a {
	color: rgb(255, 255, 255); line-height: 1.3; font-size: 0.6rem; font-weight: 500;
}
.footer__ul li {
	color: rgb(255, 255, 255); line-height: 1.3; font-size: 0.6rem; margin-bottom: 0.6rem;
}
.footer_powered {
	color: rgb(255, 255, 255); line-height: 1.3; font-size: 0.75rem;
}
.block01_second {
	background: linear-gradient(89.919998deg, rgb(37, 26, 27) 24.47%, rgb(79, 39, 47) 64.85%); padding-bottom: 1.75rem; min-height: 0px;
}
.block01_second .block01__header {
	padding-top: 1.75rem;
}
.block01_second::after {
	display: none;
}
.single {
	background: rgb(229, 229, 229); margin: 1.25rem 1.25rem 0px; padding: 2rem 0px;
}
.single__inner {
	display: flex;
}
.single__left {
	flex:0 0 50%; padding-right: 2rem; border-right-color: rgba(0, 0, 0, 0.13); border-right-width: 1px; border-right-style: solid;
}
.single__header {
	color: rgb(51, 51, 51); line-height: 1.1; font-size: 3rem; font-weight: 600; margin-top: -1rem; margin-bottom: 0.5rem;
}
.single__right {
	padding-left: 2rem;
}
.rating {
	margin-bottom: 1.5rem; display: flex; align-items: center;
}
.rating svg {
	width: 0.8rem; height: 0.8rem; margin-right: 0.15rem;
}
.rating__score {
	color: rgb(161, 161, 161); line-height: 1.4; font-size: 0.65rem; margin-right: 1rem;
}
.rating__score2 {
	color: rgb(163, 204, 64); line-height: 1.3; font-size: 0.55rem; font-weight: 700; margin-right: 0.15rem;
}
.rating__descr {
	color: rgb(161, 161, 161); line-height: 0.85rem; font-size: 0.65rem;
}
.single__info {
	margin-bottom: 1.5rem; display: flex; align-items: center;
}
.single__bold {
	color: rgb(76, 77, 79); font-size: 0.55rem; font-weight: 600; margin-right: 2rem;
}
:last-child.single__bold {
	margin-right: 0px;
}
.single__info svg {
	margin-right: 0.15rem;
}
.single__text {
	color: rgb(161, 161, 161); line-height: 1.4; font-size: 0.6rem; margin-bottom: 2rem;
}
.single__table {
	width: 100%; border-collapse: collapse;
}
.single__table td {
	padding: 0.3rem 0.5rem 0.3rem 0px; color: rgb(105, 105, 105); line-height: 1.3; font-size: 0.55rem; border-bottom-color: rgba(161, 161, 161, 0.22); border-bottom-width: 1px; border-bottom-style: solid;
}
.single__table tr:last-child td {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.single__table td:first-child {
	width: 30%; color: rgb(163, 204, 64); font-weight: 600;
}
.single__length {
	color: rgb(47, 46, 46); font-size: 0.55rem; font-weight: 600;
}
.movie-carousel {
	padding: 2rem 0px 0px; border-top-color: rgba(0, 0, 0, 0.13); border-top-width: 1px; border-top-style: solid;
}
.movie-carousel__head1 {
	color: rgb(161, 161, 161); font-size: 0.75rem; font-weight: 600; margin-bottom: 1rem;
}
.movie-carousel__inner {
	padding: 0px 1.5rem;
}
.movie-carousel__line1 {
	margin-bottom: 1.5rem; display: flex; align-items: center;
}
.movie-carousel__head2 {
	flex:1 1 0px; color: rgb(51, 51, 51); font-size: 0.75rem; font-weight: 600;
}
.movie-carousel__count {
	color: rgb(163, 204, 64); font-size: 0.5rem; font-weight: 500;
}
.movie-carousel__line2 {
	margin-bottom: 1.5rem;
}
.card {
	max-width: 7.6rem;
}
.card__img {
	margin: 0px 0px 0.75rem; border-radius: 0.5rem; display: block;
}
.card__name {
	color: rgb(163, 204, 64); font-size: 0.6rem; margin-bottom: 0.25rem;
}
.card__descr {
	color: rgb(51, 51, 51); font-size: 0.35rem; font-weight: 300;
}
.menu-burger {
	display: none;
}
.menu-close {
	display: none;
}
.fixed_body {
	overflow: hidden;
}
.fixed_body .content-wrap {
	left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; position: absolute; min-height: 0px;
}
.show-mobile {
	display: none;
}
