body {
  max-width: 1200px;
  font-family: "IBM Plex Sans";
}

header {
  height: 800px;
  position: relative;
  background: url("../img/top_bg.png") no-repeat top / cover;
  color: white;
}

header::after {
  bottom: 0;
  left: 0;
  height: 0;
  border-bottom-color: #ffffff;
  border-left-color: transparent;
  border-bottom-width: 205px;
  border-left-width: 100vw;
  border-bottom-style: solid;
  border-left-style: solid;
  content: "";
  position: absolute;
}

.navigation {
  padding: 55px 0 0 105px;
}

.navigation > div {
  vertical-align: top;
}

.navigation ul {
  margin: 0px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navigation_list {
  width: 750px;
}

.navigation_logo,
.navigation_list,
.navigation_contacts,
.navigation_anchors {
  display: inline-block;
}

.navigation_contacts > li,
.navigation_anchors > li {
  display: inline-block;
}

.navigation_contacts > li {
  margin-right: 63px;
  margin-bottom: 6px;
}

.navigation_anchors > li {
  margin-right: 82px;
}

header h1 {
  margin-top: 130px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 68px;
  line-height: 88px;
  text-align: center;
}

header h2 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 53px;
  text-align: center;
}

.advantage {
  position: relative;
}

.greeting {
width: 337px;
position: absolute;
right:0;
margin: 204px;
top: -391px;
background: #FFFFFF;
box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
border-radius: 10px;
}

.greeting h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 43px;
}

.greeting p {
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;
}