html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
b {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
u {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
i {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
center {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
fieldset {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
legend {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
thead {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
aside {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
canvas {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
details {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
embed {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
figure {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
figcaption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
footer {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hgroup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
menu {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
nav {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
output {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ruby {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
section {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
summary {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
time {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
mark {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
audio {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
video {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; text-decoration: none; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
input[type=search] {
	box-sizing: content-box; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
}
:focus {
	outline: 0px;
}
textarea {
	overflow: auto; vertical-align: top; resize: vertical;
}
body {
	line-height: 1;
}
img {
	max-height: 100%; max-width: 100%;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
input {
	outline: 0px; box-sizing: border-box;
}
textarea {
	outline: 0px; box-sizing: border-box;
}
select {
	outline: 0px; box-sizing: border-box;
}
body {
	margin: 0px auto; min-width: 320px; max-width: 1920px; -webkit-text-size-adjust: 100%;
}
html {
	font-size: 20px;
}
