/* * {
   Border: 1px solid red


[href^="ftp"] {
  color: red;
}

[href$=".com"] {
  color: rgb(30, 255, 0);
}
[type="password"],
[type="file"] {
  color: aqua;
  margin: 20px;
}

ul li input[type="text"]{
    color:rgb(30, 108, 210)
}

ul > input {
    color: green
}
#second + li + {
    margin: 30px;
}

 
a:link {
    color:black
}
a:visited {
    color: darkgreen;
}
 } 

a:hover {
  font-size: larger;
}

input:focus {
  background-color: green;
}

input:active {
  background-color: chartreuse;
}

*:active {
  background-color: rgb(128, 0, 255);
}

input:disabled {
  background-color: black;
}

input:required {
  background-color: rgb(223, 37, 37);
}

div:empty {
  height: 20px;
  background-color: blueviolet;
  border: solid 1px black;
}

input:not([type="ftp"]) {
  margin: 50px;
}

li:first-child {
  margin: 10px;
}
li:last-child {
  margin: 10px;
}

li:nth-child(2n),
li:nth-child(3) {
  margin: 10px;
}

li::before {
  content: "+";
}
li::after {
  content: "=";
}

ul > li > input {
  background-color: black;
}
*/
div * {
  border: inherit;
  font-size: initial;
}
